{% extends 'base.html' %}

{% block title %}
Lista de Arcondicionados - {{ block.super }}
{% endblock %}

{% block body %}
<br />
<a href="{% url 'arcondicionados:add_arcondicionado' %}">Cadastro de novo Ar Concionado</a>
<br />
<br />
<b>Lista de Arcondicionados</b>
<br />
<br />
<table border="1">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Capacidade</th>
      <th scope="col">Tecnologia</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for arcondicionado in arcondicionados %}
    <tr>
      <th>{{ arcondicionado.id }}</th>
      <th>{{ arcondicionado.marca }}</th>
      <td>{{ arcondicionado.modelo }}</td>
      <td>{{ arcondicionado.capacidade }}</td>
      <td>{{ arcondicionado.tecnologia }}</td>
      <td>
        <a href="{% url 'arcondicionados:edit_arcondicionado' arcondicionado.id %}">Editar</a>
      </td>
      <td>
        <a href="{% url 'arcondicionados:delete_arcondicionado' arcondicionado.id %}">Excluir</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}